<#assign solrTitle><#if command = "del"> #i18n{search.solr.adminFeature.buttonDoDel}<#elseif command = "total">#i18n{portal.search.manage_indexer.buttonDoIndex}<#elseif command = "incremental" >#i18n{portal.search.manage_indexer.buttonDoIncrementalIndex}<#else>${command}</#if></#assign>
<@pageContainer>
  <@pageColumn>
  <@pageHeader title=solrTitle  />
  <#if command?has_content>
    <#if running?? && running>
      <@p><@icon style='refresh badge-blink'/> #i18n{search.solr.adminFeature.operationInProgress}</@p>
    <#else>
      <@p><#if command = "del">#i18n{search.solr.adminFeature.buttonDoDel}<#elseif command = "total">#i18n{portal.search.manage_indexer.buttonDoIndex}<#elseif command = "incremental" >#i18n{portal.search.manage_indexer.buttonDoIncrementalIndex}<#else>${command}</#if> ...</@p>
      <pre>${logs}</pre>
    </#if>
  </#if>
  </@pageColumn>
</@pageContainer>
<#if command?has_content>
<#if running?? && running>
<script>
// Refresh the page every 3s using vanilla JS
let lastActivity = Date.now();
document.body.addEventListener("mousemove", () => lastActivity = Date.now());
document.body.addEventListener("keypress", () => lastActivity = Date.now());
function refresh() {
  if (Date.now() - lastActivity >= 3000) {
    window.location.reload(true);
  } else {
    setTimeout(refresh, 3000);
  }
}
setTimeout(refresh, 3000);
</script>
</#if>
</#if>