<div class="row-fluid">
    <div class="col-xs-12">
    <h2>#i18n{portal.search.manage_indexer.labelIndexersList}</h2>
    <table class="table table-striped table-condensed">
        <tr>
            <th width="30%">#i18n{portal.search.manage_indexer.columnIndexerName}</th>
            <th width="10%">#i18n{portal.search.manage_indexer.columnIndexerVersion}</th>
            <th width="10%">#i18n{portal.search.manage_indexer.columnIndexerEnable}</th>
            <th width="10%">#i18n{portal.search.manage_indexer.columnIndexerEnable}</th>
        </tr>
        <#list indexers_list as indexer>
            <tr>
                <td>${indexer.name}</td>
                <td>${indexer.version}</td>
                <td>${indexer.description}</td>
                <td>
                    <#if indexer.enable >  
                        <span class="label label-success"><i class="icon-ok-sign icon-white"></i> #i18n{portal.util.labelEnabled}</span>
                    <#else>    
                        <span class="label label-important"><i class="icon-remove-sign icon-white"></i> #i18n{portal.util.labelDisabled}</span>
                    </#if> 
                </td>
            </tr>
        </#list>
    </table>
<br/>
<#if running?? && running>
    <h2>
        <i class="fa fa-gear fa-spin"></i> &nbsp; #i18n{search.solr.adminFeature.operationInProgress} :
        <#if command = "del">
            #i18n{search.solr.adminFeature.buttonDoDel}
        <#elseif command = "total">
            #i18n{portal.search.manage_indexer.buttonDoIndex}
        <#elseif command = "incremental" >
            #i18n{portal.search.manage_indexer.buttonDoIncrementalIndex}
        <#else>
            ${command}
        </#if> ...
    </h2>
    <a href="ViewIndexing.jsp"></a>
    <pre>
    ${logs}
    </pre>
        <script>
            // Refresh the page every 3s
            var time = new Date().getTime();
            $(document.body).bind("mousemove keypress", function (e) {
                time = new Date().getTime();
            });

            function refresh() {
                if (new Date().getTime() - time >= 3000)
                    window.location.reload(true);
                else
                    setTimeout(refresh, 3000);
            }

            setTimeout(refresh, 3000);
        </script>
<#else>
<form method="get" name="doIndexing" action="jsp/admin/search/solr/DoIndexing.jsp" >
    <div class="form-actions">
        <button class="btn btn-danger btn-small" type="submit" name="del">
            <i class="icon-white icon-trash"></i>&nbsp;#i18n{search.solr.adminFeature.buttonDoDel}
        </button>
        <button class="btn btn-primary btn-small" type="submit" name="total" >
            #i18n{portal.search.manage_indexer.buttonDoIndex}
        </button>
        <button class="btn btn-primary btn-small" type="submit" name="incremental" >
            #i18n{portal.search.manage_indexer.buttonDoIncrementalIndex}
        </button>
        <button class="btn btn-danger btn-small" type="button" onClick="javascript:history.go(-1);" >
            #i18n{portal.util.labelCancel}
        </button>
    </div>
</form>
</#if>
    </div>
</div>
