<#setting url_escaping_charset='ISO-8859-1'>
<div class="row-fluid">
    <#if create>
        <h2>#i18n{search.solr.adminFeature.fields.form.create.title}</h2>
    <#else>
        <h2>#i18n{search.solr.adminFeature.fields.form.update.title}</h2>
    </#if>
<br/>
<form class="form-horizontal" method="get" name="doFields" action="jsp/admin/search/solr/ManageSolrFields.jsp" enctype="text/plain" accept-charset="ISO-8859-1">
    <div class="well">
        <input type="hidden" name="id" value="${field.idField}" />
        <div class="control-group">
           <label class="control-label">#i18n{search.solr.adminFeature.fields.form.name} :</label>
            <div class="controls">
                <input type="text" name="name" value="${field.name}"/>
            </div>
        </div>
        <div class="control-group">
              <label class="control-label">#i18n{search.solr.adminFeature.fields.form.label} :</label>
            <div class="controls">
                <input type="text" name="label" value="${field.label}"/>
                </div>
        </div>
        <div class="control-group">
          <label class="control-label">#i18n{search.solr.adminFeature.fields.form.facet} :</label>
            <div class="controls">
                <#if field.isFacet>
                    <input type="checkbox" name="isfacet" checked />
                <#else>
                    <input type="checkbox" name="isfacet" />
                </#if>
                </div>
        </div>
        <div class="control-group">
          <label class="control-label">#i18n{search.solr.adminFeature.fields.form.sort} :</label>
            <div class="controls">
                <#if field.isSort>
                    <input type="checkbox" name="issort" checked />
                <#else>
                    <input type="checkbox" name="issort" />
                </#if>
                </div>
        </div>
        <div class="control-group">
          <label class="control-label">#i18n{search.solr.adminFeature.fields.form.weight} :</label>
            <div class="controls">
 <select name="weight" id="weight">
                                        <option value="0.1" <#if field.weight == 0.1>selected</#if> >#i18n{search.solr.adminFeature.fields.form.weight.low}</option>
                  <option value="1" <#if field.weight == 1>selected</#if> >#i18n{search.solr.adminFeature.fields.form.weight.normal}</option>
                  <option value="10" <#if field.weight == 10>selected</#if> >#i18n{search.solr.adminFeature.fields.form.weight.high}</option>
                </select>
                </div>
        </div>
        <div class="control-group">
          <label class="control-label">#i18n{search.solr.adminFeature.fields.form.facet.mincount} :</label>
            <div class="controls">
                <select name="facetMincount" id="facetMincount" >
                   <option value="1" <#if field.facetMincount == 1>selected</#if> >#i18n{search.solr.adminFeature.fields.form.facet.mincount.onHere}</option>
                   <option value="0" <#if field.facetMincount == 0>selected</#if> >#i18n{search.solr.adminFeature.fields.form.facet.mincount.allways}</option>
                </select>
            </div>
        </div>
         <div class="control-group" >
           <label class="control-label">#i18n{search.solr.adminFeature.fields.form.facet.operator} :</label>
            <div class="controls">
                <select name="operator" id="operator">
                   <option value="OR" <#if field.operator?upper_case == "OR">selected</#if> >#i18n{search.solr.adminFeature.fields.form.facet.or}</option>
                   <option value="SWITCH" <#if field.operator?upper_case == "SWITCH">selected</#if> >#i18n{search.solr.adminFeature.fields.form.facet.switch}</option>
                </select>
            </div>
        </div>
        <div class="control-group">
          <label class="control-label">#i18n{search.solr.adminFeature.fields.form.description} :</label>
            <div class="controls">
                <input type="text" name="description" value="${field.description}"/>
                </div>
        </div>
    </div>
    <br/>
    <div class="form-actions">
        <#if create>
            <button class="btn btn-primary" type="submit" name="create">
               #i18n{portal.site.admin_page.buttonCreate}
            </button>
        <#else>
            <button class="btn btn-primary" type="submit" name="update" >
                           #i18n{portal.site.admin_page.buttonModify}
            </button>
        </#if>
        <button class="btn btn-danger" type="button" onClick="javascript:history.go(-1);" >
            #i18n{portal.util.labelCancel}
        </button>
    </div>
</form>
</div>
<script>
$(document).ready(function() {
        enableOrNot();
$( "#facetMincount" ).change(function() {
        enableOrNot();
});
});
function enableOrNot()
{
        var value =  $("#facetMincount").val()==0? false : true;
        if (value)
                $("#operator").append('<option value="AND" selected="selected">#i18n{search.solr.adminFeature.fields.form.facet.and}</option>');
        else
                $("#operator option[value='AND']").remove();
        $("#operator").prop("disabled", value);
}
</script>           