<@row>
	<@columns>
		<@box>
      <#assign title>#i18n{search.solr.adminFeature.configuration.sort.title} <small>#i18n{search.solr.adminFeature.configuration.sort.description}</small></#assign>
		  <@boxHeader title=title  />
			<@boxBody>
        <@tform method="get" name="doSort" action="jsp/admin/search/solr/DoSort.jsp" >
          <@table headBody=true>
            <@tr>
              <@th>#i18n{search.solr.adminFeature.fields.form.label}</@th>
              <@th>#i18n{search.solr.adminFeature.fields.form.description}</@th>
              <@th></@th>
              <@th></@th>
            </@tr>
            <@tableHeadBodySeparator />
            <#list field_list as field>
              <#if field.isSort >
              <@tr>
                <@td>${field.label}</@td>
                <@td>${field.description}</@td>
                <@td>
                  <#assign sel1><#if field.enableSort >true<#else>false</#if></#assign>
                  <@formGroup>
                      <@checkBox orientation='switch' name='${field.idField}' value="${field.idField}" id='${field.idField}' labelKey='' labelFor='${field.idField}' hideLabel=['all'] checked=sel1?boolean />
                  </@formGroup>
                </@td>
                <@td>
                  <#assign sel1><#if field.defaultSort >true<#else>false</#if></#assign>
                  <@formGroup>
                      <#-- Par defaut bouton radio !! <input name="default_sort" class="radio" type="radio" value="${field.idField}" <#if field.defaultSort>checked="checked"</#if>> -->
                      <@checkBox orientation='switch' name='default_sort' value="${field.idField}" id='${field.idField}' labelKey='' labelFor='${field.idField}' hideLabel=['all'] checked=sel1?boolean />
                  </@formGroup>
                </@td>
              </@tr>
              </#if>
            </#list>
          </@table>
          <@formGroup rows=2>
            <@button type='submit' buttonIcon='check' title='#i18n{portal.util.labelModify}' name='create' color='primary' size='' />
          </@formGroup>
        </@tform>
      </@boxBody>
    </@box>
  </@columns>
</@row>