<@pageContainer>
  <@pageColumn>
		<@pageHeader title='#i18n{portal.search.manage_indexer.labelIndexersList}' >
      <#if !(running?? && running)>
        <@tform method='get' type='inline' name='doIndexing' action='jsp/admin/search/solr/DoIndexing.jsp'>
          <@button type='submit' buttonIcon='trash' title='#i18n{search.solr.adminFeature.buttonDoDel}' name='del' color='danger' />
          <@button type='submit' buttonIcon='player-play' title='#i18n{portal.search.manage_indexer.buttonDoIndex}' color='primary' name='total'  />
          <@button type='submit' buttonIcon='cog' title='#i18n{portal.search.manage_indexer.buttonDoIncrementalIndex}' color='primary' name='incremental' />
        </@tform>
      </#if>
    </@pageHeader>
    <@table>
      <@tr>
        <@th>#i18n{portal.search.manage_indexer.columnIndexerName}</@th>
        <@th>#i18n{portal.search.manage_indexer.columnIndexerVersion}</@th>
        <@th>#i18n{portal.search.manage_indexer.columnIndexerEnable}</@th>
        <@th>#i18n{portal.search.manage_indexer.columnIndexerEnable}</@th>
      </@tr>
      <@tableHeadBodySeparator />
      <#list indexers_list as indexer>
      <@tr>
        <@td>${indexer.name}</@td>
        <@td>${indexer.version}</@td>
        <@td>${indexer.description}</@td>
        <@td>
        <#if indexer.enable >
          <@tag color='success'><@icon style='check' /> #i18n{portal.util.labelEnabled}</@tag>
        <#else>
          <@tag color='danger'><@icon style='times' /> #i18n{portal.util.labelDisabled}</@tag>
        </#if>
        </@td>
      </@tr>
      </#list>
    </@table>
    </@pageColumn>
</@pageContainer>
<#if running?? && running>
<@pageContainer>
    <@pageColumn>
		<@pageHeader title='#i18n{search.solr.adminFeature.operationInProgress}' />
        <@p><@icon style='gear'/> #i18n{search.solr.adminFeature.operationInProgress} :</@p>
        <@p><#if command = "del"> #i18n{search.solr.adminFeature.buttonDoDel}<#elseif command = "total">#i18n{portal.search.manage_indexer.buttonDoIndex}<#elseif command = "incremental" >#i18n{portal.search.manage_indexer.buttonDoIncrementalIndex}<#else>${command}</#if> ...</@p>
        <pre>${logs}</pre>
    </@pageColumn>
</@pageContainer>
<script>
// Refresh the page every 3s
var time = new Date().getTime();
$(document.body).bind("mousemove keypress", function (e) {
    time = new Date().getTime();
});
function refresh() {
if (new Date().getTime() - time >= 3000)
    window.location.reload(true);
else
    setTimeout(refresh, 3000);
}
setTimeout(refresh, 3000);
</script>
</#if>
