<div class="content-box">
    <h2>#i18n{search.solr.adminFeature.configuration.facet.title}</h2>
    <p>#i18n{search.solr.adminFeature.configuration.facet.description}</p>
<br/>
<form method="get" name="doFacet" action="jsp/admin/search/solr/DoFacet.jsp" >
    <table class="table table-striped table-condensed">
        <#list field_list as field>
            <#if field.isFacet >
                <tr>
                    <td>${field.label}</td>
                    <td>${field.description}</td>
                    <td>
                        <#if field.enableFacet >
                            <input name="${field.idField}" class="checkbox" type="checkbox" value="${field.idField}" checked/>
                        <#else>
                            <input name="${field.idField}" class="checkbox" type="checkbox" value="${field.idField}" />
                        </#if>                  
                    </td>
                </tr>
            </#if>
        </#list>
    </table>
    <br/>
    <button class="btn btn-primary" type="submit" >
        #i18n{portal.util.labelValidate}
    </button>
    <button class="btn btn-danger" type="button" onClick="javascript:history.go(-1);" >
        #i18n{portal.util.labelCancel}
    </button>
</form>
</div>
