<div class="row">
  <div class="col-xs-12 col-sm-12">
    <div class="box box-danger">
      <div class="box-header">
        <h3 class="box-title">#i18n{search.solr.adminFeature.fields.display.title}</h3>
        <div class="box-tools">
          <form method="get" name="doFields" action="jsp/admin/search/solr/SolrCreateUpdateFields.jsp" class="form-inline">
            <button class="btn btn-primary btn-xs btn-flat" type="submit" name="create">
              <i class="fa fa-plus"></i> #i18n{portal.site.admin_page.buttonAdd}
            </button>
            <a class="btn btn-primary btn-xs btn-flat" href="jsp/admin/search/solr/ManageSolrFields.jsp">
              <i class="fa fa-refresh"></i> #i18n{search.solr.adminFeature.fields.display.buttonRefresh}
            </a>
          </form>
        </div>
      </div>
      <div class="box-body">
        <p>#i18n{search.solr.adminFeature.fields.display.description}</p>
        <table class="table table-striped table-hover">
          <th>#i18n{search.solr.adminFeature.fields.form.name}</th>
          <th>#i18n{search.solr.adminFeature.fields.form.label}</th>
          <th>#i18n{search.solr.adminFeature.fields.form.facet}</th>
          <th>#i18n{search.solr.adminFeature.fields.form.facet.mincount}</th>
          <th>#i18n{search.solr.adminFeature.fields.form.facet.operator}</th>
          <th>#i18n{search.solr.adminFeature.fields.form.sort}</th>
          <th>#i18n{search.solr.adminFeature.fields.form.weight}</th>
          <th>#i18n{search.solr.adminFeature.fields.form.description}</th>
          <th>#i18n{search.solr.adminFeature.fields.form.actions}</th>
          <#list field_list as field>
            <tr>
              <td>${field.name}</td>
              <td>${field.label}</td>
              <td>${field.isFacet?string}</td>
              <td>
                <#if field.facetMincount==0>
                  #i18n{search.solr.adminFeature.fields.form.facet.mincount.allways}
                <#elseif field.facetMincount==1>
                  #i18n{search.solr.adminFeature.fields.form.facet.mincount.onHere}
                </#if>
              </td>
              <td>${field.operator}</td>
              <td>${field.isSort?string}</td>
              <td>
                <#if field.weight==0.0>
                  #i18n{search.solr.adminFeature.fields.form.weight.ignored}
                <#elseif field.weight==0.1>
                  #i18n{search.solr.adminFeature.fields.form.weight.low}
                <#elseif field.weight==1>
                  #i18n{search.solr.adminFeature.fields.form.weight.normal}
                <#elseif field.weight==10>
                  #i18n{search.solr.adminFeature.fields.form.weight.high}
                <#else>
                  ${field.weight}
                </#if>
              </td>
              <td>${field.description}</td>
              <td>
                <form method="get" name="doFields" action="jsp/admin/search/solr/ManageSolrFields.jsp" class="form-inline">
                  <input type="hidden" value="${field.idField}" name="id">
                  <a class="btn btn-primary btn-xs btn-flat" href="jsp/admin/search/solr/SolrCreateUpdateFields.jsp?id=${field.idField}&update=Update">
                    <i class="fa fa-pencil"></i>
                  </a>
                  <button class="btn btn-danger btn-xs btn-flat" type="submit" name="delete">
                    <i class="fa fa-trash"></i>
                  </button>
                </form>
              </td>
            </tr>
          </#list>
        </table>
      </div>
    </div>
  </div>
</div>
