<@row>
	<@columns>
		<@box>
		  <@boxHeader title='#i18n{search.solr.adminFeature.configuration.intersection.title} <small>#i18n{search.solr.adminFeature.configuration.intersection.description}</small>' />
			<@boxBody>
      <@table>
          <@tr>
            <@th>#i18n{search.solr.adminFeature.configuration.intersection.field1}</@th>
            <@th>#i18n{search.solr.adminFeature.configuration.intersection.field2}</@th>
            <@th>#i18n{search.solr.adminFeature.fields.form.actions}</@th>
          </@tr>
          <#list intersections as intersect>
            <@tr>
              <@tform method='get' name='deleteIntersection' action='jsp/admin/search/solr/DoIntersection.jsp'>
              <input type="hidden" name="field1" value="${intersect.field1.idField}">
              <input type="hidden" name="field2" value="${intersect.field2.idField}">
              <@td>${intersect.field1.label}</@td>
              <@td>${intersect.field2.label}</@td>
              <@td>
                <@button color='danger' type='submit' params='value="Delete" name="delete"'>
                  <@icon style='trash' />
                </@button>
              </@td>
              </@tform>
            </@tr>
          </#list>
          <@tr>
            <@tform method='get' name='addIntersection' action='jsp/admin/search/solr/DoIntersection.jsp'>
            <@td>
              <@select name='field1'>
              <#list field_list as field>
                <#if field.isFacet ><@option value=field.idField! label=field.label! /></#if>
              </#list>
              </@select>
            </@td>
            <@td>
              <@select name='field2' >
              <#list field_list as field>
                <#if field.isFacet ><@option value=field.idField! label=field.label! /></#if>
              </#list>
              </@select>
            </@td>
            <@td>
              <@button type='submit' buttonIcon='plus' params='name="add"' />
            </@td>
            </@tform>
        </@tr>
        </@table>
      </@boxBody>
    </@box>
  </@columns>
</@row>